body
{
    background-color: #edeef0;
}

.block-form
{
    display: inline-block;

    width: 300px;
    padding: 20px;

    text-align: left;

    border-radius: 5px;
    background-color: #cecece;
}

.block-form table
{
    width: 100%;
}
.block-form input
{
    width: 100%;
}


.main-menu
{
    display: inline-block;

    width: 1200px;
    height: 35px;

    color: #fff;
    border-radius: 5px;
    background-color: #507299;
}

.menu-item
{
    line-height: 2.5;

    display: inline-block;

    height: 100%;
    padding: 0 11px;
}

.menu-item:hover
{
    background-color: #2a5885;
}

.menu-item a
{
    display: block;

    text-decoration: none;

    color: #fff;
}

.product-table{
    max-width: 1200px;
}

.product-table td,
.product-table th
{
    padding: 5px;

    border: 1px solid #111;
}



.uploadButton
{
    display: block;

    width: 100%;
    margin-bottom: 0;
    padding: 5px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background: #3df;
}

.uploadButton:hover
{
    background: #3ce;
}

.catalog
{
    width: 1200px;
    margin-top: 5px;

    border-radius: 5px;
    background-color: #c9cbce;
}

.catalog a
{
    display: inline-block;
}

.catalog-item
{
    position: relative;
    z-index: 0;

    display: inline-block;
    float: left;

    width: 293px;
    height: 400px;
    margin: 3px;

    border-radius: 5px;
    background: #fff;
}

.catalog-item img
{
    width: 100%;
    max-height: 100%;

    border-radius: 5px;
}

.product-top,
.product-bottom
{
    font-size: 20px;

    position: absolute;
    z-index: 1;
    left: 0;

    width: 100%;

    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 69px -6px rgba(0,0,0,.75);
}

.product-top
{
    top: 0;

    border-radius: 5px 5px 0 0;
}

.product-bottom
{
    bottom: 0;

    height: 20%;

    border-radius: 0 0 5px 5px;
}

.product-page
{
    width: 1000px;
}

.product-page .left-side
{
    width: 1000px;
}

.menu-sort
{
    font-size: 120%;

    display: inline-block;

    width: 1190px;
    height: 35px;
    margin-top: 5px;

    color: #fff;
    border-radius: 5px;
    background-color: #9d9e9a;
}

.menu-sort-item
{
    line-height: 2.1;

    display: inline-block;
    float: left;

    height: 100%;
    padding: 0 11px;
}

.menu-sort a
{
    cursor: pointer;
}

.menu-sort a
{
    color: #fff;
}

.btn-buy
{
    display: inline-block;

    width: 80%;
    height: 40px;
    margin-top: 5px;
    padding: 5px;

    text-decoration: none !important;

    color: #fff !important;
    background-color: #008924;
}

.btn-buy:hover
{
    text-decoration: none;

    color: #fff;
    background-color: #007320;
}

.sort-asc:after
{
    content: '▲';
}

.sort-desc:after
{
    content: '▼';
}
